#main-info {
    display: flex;
    padding: 20px;
}

#main-info > #important {
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 2rem;
    width: 100%;
}

#main-info > #important > div:first-of-type {
    font-weight: bold;
    font-size: 18px;
}

#main-info > #important > #location {
    font-style: italic;
    font-weight: bolder;
}

#important > #subscriptions-followers {
    display: flex;
    justify-content: space-between;
}

#important > #subscriptions-followers > div:last-of-type > button {
    margin: 0 5px;
}

#important > #subscribe-unsubscribe > button {
    margin: 0 5px;
    background-color: #33c4e3;
    border-color: white;
}